div {
    text-align: center;
}

#page {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: black;
}

#searchBox {
    display: inline-flex;
    margin: auto;
    border: solid;
    border-color: black;
    border-radius: 25px;
    padding-left: 18px;
    padding-right: 18px;
    align-items: center;
    background: lightgray;
}

#form {
    border-radius: 0 0 25px 25px;
}

#platformSelect {
    display: inline-flex;
}

#platformSelect button {
    display: inline-flex;
    font-size: 25px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

input {
    display: inline-flex;
    width: 50vw;
    height: 40px;
    font-size: 20px;
    border-color: black;
    outline-width: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 2px;
    border-right-width: 2px;
    padding-left: 5px;
}

form {
    display: inline-flex;
}

#searchButton {
    display: inline-flex;
    font-size: 22px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

#searchButton:active {
    Color: rgba(0, 0, 255, 0.767);
}

