#playerStats {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 30px;
    background-color: #121212;
    text-transform: capitalize;
    border-color: white;
    min-height: 75vh;
}

h2 {
    font-size: 20px;
    border-bottom: solid;
    padding-bottom: 15px;
    border-width: 1px;
    margin-bottom: -10px;
}

h3 {
    font-size: 15px;
    color: white;
}

p {
    font-size: 30px;
    color: #57ced4;
}

#level {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    min-height: auto;
}

#levelText {
    align-self: center;
}

#winLoss {
    display: inline-flex;
    flex-direction: column;
}

#score {
    display: inline-flex;
    flex-direction: column;
}

#kills {
    display: inline-flex;
    flex-direction: column;
}

#winLossAccuracy {
    display: inline-flex;
    flex-direction: column;
}

#lifetimeStats {
    display: inline-flex;
    align-self: center;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    width: 70vw;
    background-color: #292929;
}
#killStats {
    display: inline-flex;
    align-self: center;
    justify-content: space-evenly;
    width: 70vw;
    flex-direction: row;
    flex-wrap: wrap;
}

#kdRatio {
    display: inline-flex;
    align-self: center;
    flex-direction: column;
    flex-shrink: 2;
    font-size: 85px;
    color: #57ced4;
}

.Collapsible {
    font-size: 18px;
    text-align: center;
    margin-top: -25px;
}

.Collapsible__trigger {
    cursor: pointer;
}

.Collapsible h1 {
    color: white;
    font-size: 20px;
    margin: auto;
    text-align: left;
}
.Collapsible p {
    padding-left: 10px;
    color: #57ced4;
    font-size: 20px;
    text-align: right;
}

#moreStats {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.moreStatsElement {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.moreStatsElementLeft {
    align-self: flex-start;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

.moreStatsElementRight {
    align-self: flex-end;
    text-align: right;
}

.moreStatsColumn {
    display: inline-flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin: 20px;
}
