#weaponStats {
    display: inline-flex;
    border: 1px solid white;
    margin-top: 25px;
    background-color: #292929;
    flex-direction: column;
}

#moreWeaponStats {
    font-size: 18px;
    font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    outline: none;
}

#weaponHeader {
    display: inline-flex;
}

#header {
    text-align: center;
    align-self: center;
    min-width: 33%;
    font-size: 20px;
    font-weight: bold;
}

#filterdiv {
    min-width: 33%;
}

#selectFilter {
    font-size: 20px;
    font-family: "Electrolize", Verdana, Arial, Helvetica, sans-serif;
    color: white;
    background-color: transparent;
    outline: none;
    vertical-align: middle;
    margin-bottom: 3px;
}

option {
    background-color: #292929;
}

#empty {
    min-width: 34%;
}